google-generativeai==0.8.5
onnxruntime==1.23.0
librosa==0.10.2.post1
sounddevice==0.4.6
PyQt5==5.15.11
pyttsx3==2.90
webrtcvad==2.0.10
vosk==0.3.45
numpy==1.26.4
scipy==1.11.4
torch==2.3.1+cpu
tqdm==4.67.1
seaborn==0.13.2
soundfile==0.13.1
scikit-learn==1.6.1
matplotlib==3.10.0
torchaudio==2.3.1+cpu
noisereduce==3.0.3
tensorboard==2.20.0
audiomentations==0.33.0


